body {
  font-size: 16px;
  color: #fff;
  background-color: #2F4F4F; /* DarkSlateGray  */
  font-family: 'Oswald', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #ffffff; /* Fondo de la página web */
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* Nombre del restaurante */
  font-family: 'Oswald', sans-serif;
  color: #20B2AA; /* Turquesa */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* A partir de aquí este estilo pertenece al botón para desplegar las opciones en el navbar*/

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  border-size:2px;
  color: #ffffff;
  text-align: center;
  background-color: #20B2AA; /* Fondo de la página web */
}
#nav-list a:hover {
  background: #696969;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* Esta clase define una fila que ocupa el 100 % de la ventana*/
.large-row
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  color: #ffffff; /* Color negro */
  /*width: 100%;*/
  text-align: center;
  background-color: #008080;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Esta clase define una fila que ocupa el 100 % de la ventana excepto por los márgenes, por eso no hay que definir el width*/
.large-section-row
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  text-align: center;
  background-color:#008080;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
} 
  
.texto
{
  font-size: 0.9em;
  color: #000000; /* Color negro */
}
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .texto
{
  font-size: 0.7em;
  color: #000000; /* Color negro */
}


.navbar-brand {
  padding-top: 25px;
}

}